*{
    font-family: Arial, Helvetica, sans-serif;
}

.telinha{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 30%;
    width: 40%;
    height: auto;
    background-color: white;
    z-index: 999999;
    border-radius: 4%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    width: 90%;
    margin-bottom: 0em;
    border-width: 0px;
}

.main input{
    outline: none;
}

.main legend{
    text-align: center;
}

.titulo{
    font-size: xx-large;
    color: blue;
}

.main h2{
    font-size: x-large;
}

.main p{
    font-size: large;
}

.legenda_main{
    margin-bottom: -2em;
}

.legenda_dados_compra{
    margin-bottom: -1em;
}

.dados_compra, .dados_cartao{
    width: 100%;
    border-radius: 1em;
    display: flex;
}

.dados_compra{
    flex-direction: column;
    align-items: center;
}

.compra_intern{
    margin-top: 0em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0em;
}

.menos, .mais{
    width: 2.5em;
    height: 2.5em;
}

.menos{
    margin-right: 0.1em;
}

.mais{
    margin-left: 0.1em;
}

.quantidade, .eQuantidade{
    width: 3.5em;
    height: 2.5em;
    text-align: center;
    outline: none;
}

.eQuantidade{
    border: 2px solid red;
    border-radius: 3px;
    animation: piscar 1s infinite;
}

.error_quantidade{
    color: red;
    margin-top: 0em;
    margin-bottom: 1.5em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.compra_intern p{
    margin-left: 1em;
}

.total, .eTotal{
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: xx-large;
}

.total{
    color: green;
}

.eTotal{
    color: red;
}

.dados_cartao{
    flex-direction: column;
    align-items: center;
}

.nome_numero, .codigo_validade{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.dados_cartao input{
    width: 100%;
}

.dados_cartao fieldset{
    width: 50%;
    border-radius: 1em;
    border-width: 0px;
}

.dados_cartao input{
    text-align: center;
    height: 3em;
    border-radius: 1em;
    border: 1px solid gray;
    font-size: medium;
}

.botoes{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 50%;
    justify-content: space-between;
}

.cancelar, .confirmar{
    height: 3.5em;
    width: 8em;
    border-radius: 1em;
    border-width: 0em;
    cursor: pointer;
}

.cancelar{
    background-color: red;
    color: white;
}

.confirmar{
    background-color: green;
    color: white;
}

.data, .eData{
    padding-right: 20px;
    outline: none;
    cursor: pointer;
}

.eData, .eCartao{
    border: 2px solid red !important;
    animation: piscar 1s infinite;
}

@keyframes piscar {
    0%{
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.dataErrada, .cartaoErrado, .camposErrados{
    color: red;
}

.camposErrados{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

@media (max-width: 1600px) {
    .telinha{
        width: 50%;
        left: 25%;
    }
}

@media (max-width: 1200px) {
    .telinha{
        width: 60%;
        left: 20%;
    }
}

@media (max-width: 1000px) {
    .telinha{
        width: 70%;
        left: 15%;
    }
}

@media (max-width: 800px) {
    .telinha{
        width: 80%;
        left: 10%;
    }
}

@media (max-width: 600px) {
    .telinha{
        width: 90%;
        left: 5%;
    }
}