.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 231, 76);
    margin: 7% auto;
    max-width: 40em;
    border-radius: 30px 5px;
    text-align: center;
}

.sobre h1{
    font-size: 1.7em;
}

.sobre p{
    font-size: 1.3em;
    margin-left: 2em;
    margin-right: 2em;
}

.p1{
    margin-bottom: 0em;
}

.p2{
    margin-bottom: 3em;
}

